.root {
    -fx-background-color: #4F646F;
}

.border {
    -fx-border-color: #B7ADCF;
}

.background {
    -fx-background-color: #535657;
}

.title {
    -fx-font-size: 20;
}

.body {
    -fx-font-size: 14;
}

.text {
    -fx-text-fill: #DEE7E7;
}